.activtyStats {
  background-color: #929191;
  border-top: solid black 1px;
}


.activtyStats h2 {
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-bottom-right-radius: 99px;
  display: flex;
  width: 10%;
  margin-bottom: 2px;
  padding-bottom: 5px;
  margin-top: 0px;
}

.cointener {
  display: flex;
  flex-wrap: wrap;
}

.cointener h3 {
  color: white;
}

.item {
  flex: 2 33%;
}

@media only screen and (max-width: 800px) {
  .activtyStats h2 {
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-bottom-right-radius: 99px;
    display: flex;
    width: 27%;
    margin-bottom: 2px;
    padding-bottom: 5px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 590px) {
  .activtyStats h2 {
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-bottom-right-radius: 99px;
    display: flex;
    width: 36%;
    margin-bottom: 2px;
    padding-bottom: 5px;
    margin-top: 0px;
  }
  .item {
    flex: 2 50%;
  }
}
