.cointenerAccountInfo {
display: flex;
width: 100%;
}

.itemAccountInfo {
  flex: 2 50%;
}
.AccountStatsAll {
  display: flex;
  background-color: #929191;
  height: 100%;
}

.allTimeLow {
  flex: 1 33%;
}


.characterInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8em;
}

.characterInfo h2 {
  color: white;
  padding: 10px;
  align-self: flex_start;
}

.emblem {
  width: 50%;
  background-size: cover;
}
.characterClassType {
  margin-left: 20%
}
.characterLigth {
  order: 2;
  padding: 10px;
  color: rgb(245, 220, 86);
}
.activitySelect {
  display: flex;
  justify-content: space-between;
  width: 5%;
  cursor: pointer;
}

.activitySelect h3{
  border-top: 1.5px solid black;
  border-right: 1.5px solid black;
  border-left: 1.5px solid black;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 0;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 0px;
}


h3 {
  padding:10px
}


@media only screen and (max-width: 600px) {
  .emblem {
    width: 100%;
    background-size: cover;
  }

  .characterClassType {
    margin-left: 20%
  }


  .cointenerAccountInfo {
    display: block;
  }
}