.cointener {
  display: flex;
  flex-wrap: wrap;
}

.primary,
.special,
.heavy,
.abilty {
  border-top: 1px solid black;
  background-color: #5B89A6;
}

.primary h2,
.special h2,
.heavy h2,
.abilty h2 {
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-bottom-right-radius: 99px;
  display: flex;
  width: 12%;
  margin-bottom: 2px;
  padding-bottom: 5px;
  margin-top: 0px;
  padding:10px;
}

.item {
  flex: 2 33%;
}

.item h3 {
  color: #F2F2F2;
}


@media only screen and (max-width: 800px) {
  .primary h2,
  .special h2,
  .heavy h2,
  .abilty h2 {
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-bottom-right-radius: 99px;
    display: flex;
    width: 27%;
    margin-bottom: 2px;
    padding-bottom: 5px;
    margin-top: 0px;
  }

}

@media only screen and (max-width: 600px) {
  .primary h2,
  .special h2,
  .heavy h2,
  .abilty h2 {
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-bottom-right-radius: 99px;
    display: flex;
    width: 33%;
    margin-bottom: 2px;
    padding-bottom: 5px;
    margin-top: 0px;
  }

  .item {
    flex: 2 45%;
  }
}

@media only screen and (max-width: 590px) {
  .primary h2,
  .special h2,
  .heavy h2,
  .abilty h2 {
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-bottom-right-radius: 99px;
    display: flex;
    width: 36%;
    margin-bottom: 2px;
    padding-bottom: 5px;
    margin-top: 0px;
  }

}